%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"],
[class*=" _icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}

._icon-check:before {
	content: "\e900";
}
._icon-check-mail:before {
	content: "\e901";
	color: #5a61ed;
}
._icon-eye:before {
	content: "\e9ce";
	font-size: 12px;
	cursor: pointer;
}
._icon-eye-blocked:before {
	content: "\e9d1";
	font-size: 12px;
	cursor: pointer;
}
